$margin: 0.2em;
$padding:0.1em;

@mixin margin-padding{
  margin:$margin; 
  padding:$padding;
}
@mixin skeleton{
  width: 100%;
  height: 100%;
}

.previewApp {
  display: flex;
  flex: 0 1 100%;
  flex-flow: column nowrap;
  @include skeleton;
  .flexItem{
    @include margin-padding;
  }
}
@media (min-width: 61.25em) {
  .previewApp {
    display: flex;
    flex-flow: row nowrap;
    @include skeleton;
    .flexItem{
      @include margin-padding;
      min-width: 50%;
    }
  }
}
