.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;  
    border: none;
    border-radius: 15px;
  }
  .emulated-flex-gap {
    --gap: 12px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
    justify-content: center;
  }
  w22
  .emulated-flex-gap > * {
    margin: var(--gap) 0 0 var(--gap);
  }
  textarea{
    border: none;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .textarea{
    box-shadow: 0 10px 6px -6px #777;
    font-size: 1rem;
  }
  